/* Navigation Bar Styling */

@font-face {
    font-family: 'Billabong';
    src: url('../../assets/fonts/Billabong.ttf');
}

@media (min-width: 800px) {
    #navbar {
        top: 0;
        z-index: 2;
        position: fixed;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        box-shadow: 0 0 20px 10px rgba(0,0,0,.1);
    }
    #navbar-logo {
        width: auto;
        height: 30px;
        margin-right: 100px;
    }
    #navbar-logo:hover {
        cursor: pointer;
    }
    #navbar-search {
        border: 0.5px solid rgb(200, 200, 200);
        padding: 5px;
        border-radius: 10px;
        text-align: center;
    }
    #navbar-buttons {
        display: flex;
    }
    #navbar-buttons img {
        width: auto;
        height: 25px;
        margin: 0px 10px;
        cursor: pointer;
    }
    #settings-button-container {
        display: flex;
        flex-direction: column;
    }
    #settings-popup {
        top: 55px;
    }
}

@media (max-width: 800px) {
    #navbar {
        z-index: 2;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0px;
        width: 100%;
        align-items: center;
        background-color: white;
        box-shadow: 0 0 20px 10px rgba(0,0,0,.1);
    }
    #navbar-logo {
        width: auto;
        height: 30px;
    }
    #navbar-logo:hover {
        cursor: pointer;
    }
    #navbar-search {
        border: 0.5px solid rgb(199, 199, 199);
        padding: 5px;
        border-radius: 10px;
        text-align: center;
    }
    #navbar-buttons {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0px;
        background-color: white;
        width: 100%;
        padding: 10px 10px;
        justify-content: space-around;
        align-items: center; 
        box-shadow: 0 0 20px 10px rgba(0,0,0,.1);
    }
    #navbar-buttons img {
        width: auto;
        height: 25px;
        cursor: pointer;
    }
    #settings-button-container {
        display: flex;
        flex-direction: column-reverse;
    }
    #settings-popup {
        bottom: 55px;
    }
}

#settings-popup {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    position: absolute;
    font-size: small;
    width: auto;
    right: 15px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 5px;
}

#settings-popup > * {
    padding: 10px;
    transition: all ease-in-out .25s;
    border-radius: 5px;
}

#settings-popup > *:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}