/* Post Reel Styling */

@media (max-width: 800px) {
    .single-post-component .post-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}

@media (min-width: 800px) {
    .single-post-component .post-image {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
}

.single-post-component {
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.1);
    font-size: small;
}

.single-post-component .post-user-link-avatar {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.single-post-component .post-top {
    display: flex;
    flex-direction: row;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.single-post-component .post-user-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.single-post-component .post-user-link-name {
    font-weight: bold;
    color: black;
}

.single-post-component .post-user-link-username, .single-post-component .post-date {
    color: rgb(150, 150, 150);
}

.single-post-component .post-date {
    padding-bottom: 5px;
}

.single-post-component .post-user-link:link, .single-post-component .post-user-link:visited, .single-post-component .post-user-link:active, .single-post-component .post-user-link:hover {
    text-decoration: none;
}

.single-post-component .post-bottom {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
}

.single-post-component .post-view-comments:link, .single-post-component .post-view-comments:visited, .single-post-component .post-view-comments:active, .single-post-component .post-view-comments:hover {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

/* Post Reel Buttons Styling */

.single-post-component .post-like-button, .single-post-component .post-save-button, .single-post-component .post-comment-button, .single-post-component .post-share-button {
    height: 25px;
    width: auto;
    cursor: pointer;
    padding-right: 10px;
}